.chat
  .chat-side
    .chat-user.clearfix
      = current_user.name
      .chat-user__actions
        = link_to new_group_url, class: 'chat-user__action' do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_url(current_user), class: 'chat-user__action' do
          %i.fa.fa-cog
    %ul.chat-groups
      - @groups.each do |user_group|
        %li.chat-group
          = link_to new_group_messages_path(user_group.id), class: 'chat-group__link' do
            %p.chat-group__name
              = user_group.name
            %p.chat-group__message
              - if user_group.messages.pluck(:body).present?
                = user_group.messages.pluck(:body).last
              - else
                まだメッセージはありません
